<!-- set up this file so it can be used by handlebars -->
<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css">
        <title>Eat Burgers</title>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/models/burger.js"></script>
    </head>
    <body>
        {{{ body }}}
    </body>
</html>